<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock title %}
        </title>
        <link rel="icon" href="{{ asset('build/website/images/favicon.svg') }}" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('global', null, 'website-config') }}
        {% endblock stylesheets %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app', null, 'website-config') }}
        {% endblock javascripts %}
    </head>
    <body>
        {% block body %}

        {% endblock body %}
    </body>
</html>
